/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos del header y navegación */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px;
}

/* Estilos de los proyectos */
section {
    flex: 1;
    padding: 2em 10em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projects {
    display: flex;
    margin: 10px;
    margin-bottom: 2em;
}

.project {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    margin: 0;
}

.project img {
    max-width: 100%;
}

/* Estilos del footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nav-links a {
        color: #fff;
        text-decoration: none;
    }

    .nav-active {
        display: block;
    }
}